/**
 * All .scss stylesheets to import
 * SASS compiles to ../css/styles.css
 * linting, minifying etc then compiles to ../styles.css
 * File structure is based loosely on Brad Frosts Atomic Design
 */
/**
 * Normalize and reset come from: https://www.npmjs.com/package/css-reset-and-normalize-sass
 * -----------------------------------------------------------------------------------------
 * modified version of normalize.css 3.0.2
 * http://necolas.github.io/normalize.css/
 */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/**
 * HTML5 display definitions
 * =============================================================================
 */
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/**
 * Links
 * =============================================================================
 */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * Text-level semantics
 * =============================================================================
 */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * 1. Address styling not present in Safari and Chrome.
 * 2. Set previously resetted italic font-style
 */
dfn,
em {
  font-style: italic; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/**
 * Embedded content
 * =============================================================================
 */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/**
 * Grouping content
 * =============================================================================
 */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

/**
 * Forms
 * =============================================================================
 */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type='button'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer; }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type='checkbox'],
input[type='radio'] {
  padding: 0; }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type='search'] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/**
 * Normalize and reset come from: https://www.npmjs.com/package/css-reset-and-normalize-sass
 * -----------------------------------------------------------------------------------------
 * modified version of eric meyer's reset 2.0
 * http://meyerweb.com/eric/tools/css/reset/
 */
/**
 * basic reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/**
 * HTML5 display-role reset for older browsers
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
main,
summary {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * All theme variables
 * -----------------------------------------------------------------------------------------
 */
/*
 * Table of Contents
 * -----------------
 * a. Colour Settings
 * b. Typography
 * c. Gutters / Containers / Margin / Padding settings;
 */
/**
 * Mixins
 * -----------------------------------------------------------------------------------------
 */
/**
 * silent classes, placeholders for utilities and sextra bits and bobs
 * -----------------------------------------------------------------------------------------
 * Note: buttons, typography silent classes are in their specific files i.e. _buttons.scss
 */
/**
 * All base styles after resets are applied that don't have a
 * home in atoms/molecules/organisms
 * -----------------------------------------------------------------------------------------
 */
html {
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1680 - 300))); }

body {
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-style: normal;
  background-color: #fff;
  font-size: 90%; }

.displayblock {
  display: block !important; }

.displaynone {
  display: none !important; }

/**
 * All typography styles
 * -----------------------------------------------------------------------------------------
 */
h1,
h2,
h3,
.issue-title,
h4,
h5,
h6 {
  font-weight: 600; }

h3,
.issue-title {
  font-size: 1.25rem;
  line-height: 1.5625rem; }

/**
 * All link styles
 * -----------------------------------------------------------------------------------------
 */
a {
  color: #24292e;
  text-decoration: none; }
  a:hover, a:active {
    color: #0366d6; }
  a:visited {
    color: #24292e; }

/**
 * Default styles for all buttons
 * -----------------------------------------------------------------------------------------
 *
 */
button {
  padding: 1.25em; }

.btn-link {
  border: 0;
  background: transparent; }

.select-menu-button:not([disabled]):after {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: -2px;
  margin-left: 5px;
  content: '';
  border: 4px solid;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent; }

/**
 * Each Row listing an issue
 * -----------------------------------------------------------------------------------------
 */
.github-issue {
  display: flex;
  flex-direction: row;
  padding: 0.625em;
  border-bottom: solid 1px #e1e4e8; }
  .github-issue:last-child {
    border: none; }
  .github-issue:hover {
    background-color: #f6f8fa; }
  .github-issue .column-left {
    flex: 0 1 65%;
    display: flex; }
  .github-issue .issue-status {
    padding-top: 0.625em;
    padding-right: 1.25em; }
  .github-issue .column-right {
    flex: 0 1 35%;
    display: flex;
    justify-content: flex-end; }

/**
 * Table head with filters
 * -----------------------------------------------------------------------------------------
 */
.table-head {
  display: flex;
  background-color: #f6f8fa;
  border-top: solid 1px #e1e4e8;
  border-right: solid 1px #e1e4e8;
  border-left: solid 1px #e1e4e8;
  border-radius: 4px; }
  .table-head .table-results-count {
    flex: 0 1 45%;
    padding: 1.25em; }
  .table-head .table-list-filters {
    flex: 0 1 55%; }
    .table-head .table-list-filters .list-filters {
      display: flex;
      justify-content: flex-end; }
      .table-head .table-list-filters .list-filters fieldset {
        position: relative; }
      .table-head .table-list-filters .list-filters ul {
        display: none;
        position: absolute;
        background-color: #fff;
        max-height: 50vh;
        overflow: auto; }
        .table-head .table-list-filters .list-filters ul li {
          width: 300px;
          display: block;
          border: solid 1px #e1e4e8; }
          .table-head .table-list-filters .list-filters ul li a {
            padding: 1.25em;
            display: block; }

/**
 * Overall page layout settings
 * -----------------------------------------------------------------------------------------
 */
.page-container {
  width: 100%;
  max-width: 980px;
  margin: 1.25em auto;
  box-sizing: border-box;
  padding-left: 0.625em;
  padding-right: 0.625em; }
  @media only screen and (min-width: calc( $container-width + $gutter)) {
    .page-container {
      padding-left: 0;
      padding-right: 0; } }

.issues-table {
  border: solid 1px #e1e4e8; }
