/**
 * All link styles
 * -----------------------------------------------------------------------------------------
 */

a {
	color: $link-color-default;
	text-decoration: none;

	&:hover,
	&:active {
		color: $link-color-hover;
	}

	&:visited {
		color: $link-color-visited;

		&:hover {
			color: $link-color-hover;
		}
	}
}
