/**
 * Each Row listing an issue
 * -----------------------------------------------------------------------------------------
 */

.github-issue {
	display: flex;
	flex-direction: row;
	padding: $item-gutter;
	border-bottom: solid 1px $border-color;

	&:last-child {
		border: none;
	}

	&:hover {
		background-color: $container-background-color-alt;
	}

	.column-left {
		flex: 0 1 65%;
		display: flex;
	}

	// -------------------------
	// Items within column-left. could be nested but no need to be that specific.
	.issue-status {
		padding-top: $item-gutter;
		padding-right: $gutter;
	}

	.column-right {
		flex: 0 1 35%;
		display: flex;
		justify-content: flex-end;
	}
}
