/**
 * Each Row listing an issue
 * -----------------------------------------------------------------------------------------
 */

.github-issue {
	display: flex;
	flex-direction: row;
	padding: $item-gutter;
	border-bottom: solid 1px $border-color;

	&:last-child {
		border: none;
	}

	&:hover {
		background-color: $container-background-color-alt;
	}

	.column-left {
		flex: 0 1 65%;
		display: flex;

		.issue-details {
			width: 100%;

			// .issue-title {
			// 	// TODO: Check all of this can't be more easily changed with line heights
			// 	padding-bottom: $item-gutter / 2;
			// }

			.labels {
				list-style-type: none;
				margin: 0;
				padding: 0;
				display: inline;

				> li {
					padding: $item-gutter / 2;
					margin: 0 $item-gutter / 2;
					display: inline;
				}
			}
		}
	}

	// -------------------------
	// Items within column-left. could be nested but no need to be that specific.
	.issue-status {
		padding-top: $item-gutter;
		padding-right: $gutter;
	}

	.column-right {
		flex: 0 1 35%;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		// TODO: Change thes to proper columns to better control alignment with filters in table head
		.avatar {
			padding-right: $gutter * 2;
		}
		.octicon-comment,
		.text-small {
			padding-right: $item-gutter;
		}

		.octicon-comment {
			vertical-align: middle;
		}
	}
}
