/**
 * Each Row listing an issue
 * -----------------------------------------------------------------------------------------
 */

.github-issue {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: $item-gutter;
	border-bottom: solid 1px $border-color;

	&:last-child {
		border: none;
	}

	&:hover {
		background-color: $container-background-color-alt;
	}

	.column-left {
		flex: 0 1 75%;
		display: flex;

		.issue-details {
			width: 100%;
		}
	}

	.column-right {
		flex: 0 1 17.5%;
		min-width: em(120);
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	// -------------------------
	// Items within column-left & column-right could be nested but no need to be that specific.
	.issue-status {
		padding-top: $item-gutter / 2;
		padding-right: $gutter;
		padding-left: $item-gutter;
	}

	.avatar,
	.comments {
		flex: 0 1 50%;
		text-align: right;
	}

	.comments {
		.octicon-comment,
		.text-small {
			padding-right: $item-gutter;
		}

		.octicon-comment {
			vertical-align: middle;
		}
	}
}
