/**
 * Table head Layout
 * -----------------------------------------------------------------------------------------
 */

.table-head {
	display: flex;
	background-color: $container-background-color-alt;
	border-top: solid 1px $border-color;
	border-right: solid 1px $border-color;
	border-left: solid 1px $border-color;
	border-radius: 4px;
	flex-flow: column wrap;

	@include min-screen( $screen-m ) {
		flex-flow: row wrap;
	}

	.table-results-count {
		flex: 0 1 100%;
		text-align: center;
		padding: $gutter;
		border-bottom: solid 1px $border-color;
		box-sizing: border-box;

		@include min-screen( $screen-m ) {
			flex: 0 1 35%;
			text-align: left;
			border-bottom: 0;
		}
	}
	// padding added to these outer containers instead of buttons and <p> so that font-sizes don't produce inconsistent padding amounts
	.table-list-filters {
		flex: 0 1 100%;
		padding: $gutter;
		box-sizing: border-box;

		@include min-screen( $screen-m ) {
			flex: 0 1 65%;
		}

		// not included in _filters.scss or _buttons.scss as this is specific to table head layout only!
		.list-filters {
			// the form html
			display: flex;
			flex-flow: row wrap;
			justify-content: center;

			@include min-screen( $screen-m ) {
				justify-content: flex-end;
			}
		}

		fieldset {
			button {
				&:last-child {
					padding-right: 0;
				}
			}
		}
	}
}
