/**
 * Table head with filters
 * -----------------------------------------------------------------------------------------
 */

.table-head {
	display: flex;
	background-color: $container-background-color-alt;
	border-top: solid 1px $border-color;
	border-right: solid 1px $border-color;
	border-left: solid 1px $border-color;
	border-radius: 4px;

	.table-results-count {
		flex: 0 1 45%;
	}

	.table-list-filters {
		flex: 0 1 55%;

		.list-filters {
			display: flex;
			justify-content: flex-end;

			fieldset {
				position: relative;
			}

			ul {
				// by default hide the UL until its clicked and then its behaviour is controlled by classes being added / removed.
				// Important to note that for accessibility, display should not be used to show / hide menus as its stops keyboard tabbing
				// through hidden menus. This is purely due to time constraints.
				// display: none;
				position: absolute;
				background-color: $body-background-color;
				max-height: 50vh;
				overflow: auto;

				li {
					width: 300px;
					display: block;
					border: solid 1px $border-color;

					a {
						padding: $gutter;
						display: block;
					}
				}
			}
		}
	}
}
